.searchbar {
	width: 500px;
	height: 30px;
	margin-left: 450px;
}	

.navbar {
	height:150px;
}

#google {
	width:300px;
	height: 100px;
	margin-left: 600px;
}

ul {
	list-style-type: none;
	padding:0;
	font-family: : tahoma;

}

.navbar ul {
	margin-left: 1250px;
}

li {
	display: inline-block;
	height:15px;
	width: 80px;
	padding: 8px 6px;
	text-align: center;


}

li a {
	text-align: center;
	text-decoration: none;	
}

.navbar li a {
	color:black;
	font-size: 12px;
}

a:hover {
	text-decoration: underline;
}

#login button {
	background-color: #008aff;
	color: white;
}

input {
	width: 600px;
	height:40px;
	box-shadow: 0px 1px 2px grey;
	border-radius: 4px;
}

.kokeile ul {
	display: inline-block;
	margin-left: 600px;

}

.kokeile ul li {
height:30px;
width:140px;
padding: 3px;
margin-top: 35px;
}

button {	
	font-size: 13px;
	color:grey;
	border-style: none;
	height:30px;
	width:120px;
	text-align: center;
	
}

.kokeile button:hover {
border:1px solid grey;
color: black;
}

.muut {
	margin-left: 600px;
}

.footer {
	margin-top: 370px;
	border-top:1px solid #e2dada;
	height:40px;

}
.footer ul {
display: inline-block;
margin-left:10px;
margin-top:4px;
margin-bottom: 4px;


}

.footer ul a {
font-size: 12;
color: #908383;

}
#right {
	margin-left: 800px;
	margin-top:4px;
	margin-bottom: 4px;
}



