.searchbar {

		
	width: 500px;
	height: 30px;
	margin-left: 450px;
}	

.logo {

}

.navbar {
	height:150px;
}

#google {
	width:300px;
	height: 100px;
	margin-left: 600px;
}

ul {
	list-style-type: none;
	padding:0;
	font-family: : tahoma;

}

.navbar ul {
	margin-left: 1300px;
}

li {
	display: inline-block;
	height:15px;
	width: 80px;
	padding: 8px 6px;


}

li a {
	display: block;
	text-align: center;
	text-decoration: none;	
}

.navbar li a {
	color:black;
}

#login {
	background-color: #008aff;
}

#login a {
	color: white;
}

input {
	width: 600px;
	height:40px;
	box-shadow: 0px 1px 2px grey;
	border-radius: 4px;
}

.footer ul {
	margin-left: 0px;
	display: inline-block;

}